body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    font-family: 'Courier New', monospace;

    text-align: center;
}

.welcome {
    font-family: 'Brush Script MT', cursive;
}
